.container {
  &__main {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: 7rem 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
	
    @media (max-width: 950px) {
      grid-template-rows: 7rem 1fr;
      grid-template-columns: 1fr;
    }
  }

  &__body { 
    background-color: $white;
    height: 100%;
    grid-row: 2 / -1;
    grid-column: 1 / -1;
  }
}

.container__body > div {
  height: 100%;
}

//---------------------- nav ----------------------//

.nav {
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
}

//---------------------- home ----------------------//

.home {
	&__container {
		@include heightWidth100();
		@include flexCenterCenter($justify-content: space-between);
		padding: 0 3rem;
		position: relative;
    // grid-row: 1 / span 1;
    // grid-column: 1 / -1;
    flex: 0;

		@media (max-width: 420px) {
      padding: 1.5rem;
    }

    @media (max-width: 385px) {
      padding: 1.0rem;
    }

    &--left {
			@include flexCenterCenter($flex-direction: column, $align-items: flex-start);
    }

    &--right {
    }
  }
}

//---------------------- about ----------------------//

.about {
	&__container {
		// @include heightWidth100($height: calc(100vh - 7rem));
    width: 100%;
		display: flex;
		align-items: flex-start;
    justify-content: space-evenly;
    padding-bottom: 3rem;

		@media (max-width: 950px) {
      align-items: center;
			height: 100%;
      flex-direction: column;
      padding: 3rem 6.0rem;
    }

    @media (max-width: 720px) {
      padding: 1rem 3rem 3rem 3rem;
    }

    &--left {
			@include flexCenterCenter($flex-direction: column);
      width: 51rem;
      margin-bottom: auto !important;

      @media (max-width: 1150px) {
        width: 40%;
      }

      @media (max-width: 1050px) {
        width: 37.5%;
      }

      @media (max-width: 950px) {
        width: 100%;
        margin-right: 0;
      }
    }

    &--right {
      @include flexCenterCenter($flex-direction: column);
      width: min-content;
      position: relative;
      margin-bottom: auto !important;

      @media (max-width: 950px) {
        height: 100%;
        width: 100%;
        margin-top: 5rem;
      }
    }

		&--img {
			@include flexCenterCenter($flex-direction: column);
      margin-top: 3rem;
		}
  }
}

//---------------------- skills ----------------------//

.skills {
  &__container {
		@include heightWidth100($height: 100vh);
		padding: 3rem;
		display: flex;
    flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		position: relative;

		@media (max-width: 950px) {
			flex-direction: column;
			height: 100%;
			padding: 3rem 6.0rem;
			justify-content: initial;
		}

    @media (max-width: 720px) {
      padding: 3rem;
    }

    &--left {
      @include flexCenterCenter($flex-direction: column, $align-items: flex-start, $justify-content: flex-end);
      width: 50%;
      align-self: flex-start;

      @media (max-width: 950px) {
        @include flexCenterCenter($flex-direction: column);
        width: 100%;
        margin-bottom: 10rem;
      }
    }

    &--right {
			@include flexCenterCenter($flex-direction: column, $align-items: flex-start, $justify-content: space-around);
      width: 50%;
      text-align: center;

      @media (max-width: 950px) {
        width: 100%;
      }
    }
  }
}

.bar-graph {
  &__container {
    &--body {
      @include fadeInAnimated($delay: 5s);
      display: grid;
      grid-template-columns: 12.5rem 50rem;
      grid-template-rows: 0.15fr repeat(13, 1fr);
      grid-gap: 1.5rem 1rem;
      align-items: center;
  
      @media (max-width: 1350px) {
        grid-template-columns: 12.5rem 40rem;
      }
  
      @media (max-width: 1200px) {
        grid-template-columns: 12.5rem 30rem;
      }
  
      @media (max-width: 950px) {
        grid-template-columns: 12.5rem 60vw;
        margin-bottom: 7rem;
      }
  
      @media (max-width: 600px) {
        grid-template-columns: 10rem 60vw;
        grid-gap: 2.25rem 2rem;
      }
  
      @media (max-width: 460px) {
        grid-template-columns: 8.5rem 50vw;
        grid-gap: 2.25rem 2.5rem;
      }
    }

    &--scale {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      display: flex;
      justify-content: space-between;

      span {
        @include font-size-4;
      }
    }
  }
}

//---------------------- projects ----------------------//

.projects {
  // height: calc(100vh - 7rem);
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: 10rem 1fr;

  @media (max-width: 950px) {
    height: 100%;
  }

	&__container {
    display: grid;
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    grid-template-columns: repeat(auto-fit, minmax(45rem,1fr));
    // grid-template-rows: repeat(3, 1fr);
    // grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    margin: 2em; 
    margin-top: 1em;
    grid-gap: 2em;
    background-color: $white;
    flex: 1;

    @media (max-width: 2000px) {
      grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
    }
    @media (max-width: 1000px) {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    // @media (max-width: 950px) {
    //   grid-template-rows: repeat(6, min-content);
    //   grid-template-columns: repeat(2, 1fr);
    // }
    // @media (max-width: 450px) {
    //   margin: 1.5rem; 
    //   grid-gap: 1.5rem;
    // }
	}
	
  // USE BELOW FOR ORDERING THE PROJECTS DIFF TO MONGODO
	// &__item {
	// 	&--1 {
	// 		grid-row: 1 / span 1;
	// 		grid-column: 1 / span 1;
	// 	}

	// 	&--2 {
	// 		grid-row: 1 / span 1;
	// 		grid-column: 2 / span 1;
	// 	}

	// 	&--3 {
	// 		grid-row: 1 / span 1;
	// 		grid-column: 3 / span 1;

	// 		@media (max-width: 950px) {
	// 			grid-row: 2 / span 1;
	// 			grid-column: 1 / span 1;
	// 		}
	// 	}

	// 	&--4 {
	// 		grid-row: 1 / span 1;
	// 		grid-column: 4 / span 1;

	// 		@media (max-width: 950px) {
	// 			grid-row: 2 / span 1;
	// 			grid-column: 2 / span 1;
	// 		}
	// 	}

	// 	&--5 {
	// 		grid-row: 2 / span 1;
	// 		grid-column: 1 / span 1;

	// 		@media (max-width: 950px) {
	// 			grid-row: 3 / span 1;
	// 			grid-column: 1 / span 1;
	// 		}
	// 	}

	// 	&--6 {
	// 		grid-row: 2 / span 1;
	// 		grid-column: 2 / span 1;

	// 		@media (max-width: 950px) {
	// 			grid-row: 3 / span 1;
	// 			grid-column: 2 / span 1;
	// 		}
	// 	}

	// 	&--7 {
	// 		grid-row: 2 / span 1;
	// 		grid-column: 3 / span 1;

	// 		@media (max-width: 950px) {
	// 			grid-row: 4 / span 1;
	// 			grid-column: 1 / span 1;
	// 		}
	// 	}

	// 	&--8 {
	// 		grid-row: 2 / span 1;
	// 		grid-column: 4 / span 1;

	// 		@media (max-width: 950px) {
	// 			grid-row: 4 / span 1;
	// 			grid-column: 2 / span 1;
	// 		}
	// 	}

	// 	&--9 {
	// 		grid-row: 3 / span 1;
	// 		grid-column: 1 / span 1;

	// 		@media (max-width: 950px) {
	// 			grid-row: 5 / span 1;
	// 			grid-column: 1 / span 1;
	// 		}
	// 	}

	// 	&--10 {
	// 		grid-row: 3 / span 1;
	// 		grid-column: 2 / span 1;

	// 		@media (max-width: 950px) {
	// 			grid-row: 5 / span 1;
	// 			grid-column: 2 / span 1;
	// 		}
	// 	}

	// 	&--11 {
	// 		grid-row: 3 / span 1;
	// 		grid-column: 3 / span 1;

	// 		@media (max-width: 950px) {
	// 			grid-row: 6 / span 1;
	// 			grid-column: 1 / span 1;
	// 		}
	// 	}

	// 	&--12 {
	// 		grid-row: 3 / span 1;
	// 		grid-column: 4 / span 1;

	// 		@media (max-width: 950px) {
	// 			grid-row: 6 / span 1;
	// 			grid-column: 2 / span 1;
	// 		}
	// 	}
  // }
}

//---------------------- modal ----------------------//

.modal {
	&__container {
		@include flexCenterCenter($flex-direction: column, $justify-content: space-between, $align-items: flex-start);
    transform: translate(50%, 5rem);
    height: 80vh;
    width: 50vw;
    background-color: $white;
    border-radius: 3rem;
		opacity: 1;
		transition: opacity 3s;
    position: relative;
		
		@media (max-width: 950px) {
			transform: translate(0, 4rem);
			width: 65vw;
      margin: auto;
			min-height: min-content;
      margin-bottom: 5rem;
		}

		@media (max-width: 800px) {
      width: 75vw;
      height: 85%;
		}
		@media (max-width: 550px) {
			transform: translate(0, 3rem);
      width: 85vw;
		}

    &--top {
      @include flexCenterCenter($flex-direction: column, $justify-content: flex-start);
      @include heightWidth100();
      overflow: hidden;
      padding: 3rem 3rem 8rem 3rem;
      position: relative;
    }

    &--bottom {
      height: 6rem;
      width: 100%;
      position: absolute;
      bottom: 0px;
      display: flex;
      justify-content: space-evenly;
    }

		&.hide {
			opacity: 0;
		}
	
		&--skills {
      @include flexCenterCenter($justify-content: space-around);
			width: 100%;
			margin-top: 1rem;
			flex-wrap: wrap;
		}
	}


	&__paragraph {
    &--container {
      overflow-y: scroll;
      margin: 1.5rem 0;
      width: 100%;
    }
	}
}

//---------------------- contact ----------------------//

.contact {
  &__container {
    @include fadeInAnimated();
    @include heightWidth100($height: calc(100vh - 7rem));
    @include flexCenterCenter($justify-content: space-evenly);

    @media (max-width: 950px) {
      @include heightWidth100($width: 100vw, $height: 100%);
      padding: 1rem 6.0rem 10rem 6.0rem;
      flex-direction: column;
    }

    @media (max-width: 720px) {
      padding: 1rem 3rem 10rem 3rem;
    }

    &--left {
      @include flexCenterCenter($flex-direction: column);
      width: 51rem;
      margin-bottom: auto !important;

      @media (max-width: 1400px) {
        width: 45rem;
      }

      @media (max-width: 1250px) {
        width: 40rem;
      }

      @media (max-width: 1150px) {
        width: 35rem;
      }

      @media (max-width: 950px) {
        width: 100%;
        margin-bottom: 5rem;
      } 
    }

    &--right {
      @include flexCenterCenter($flex-direction: column);
      width: auto;
      height: 100%;
      position: relative;

      @media (max-width: 950px) {
        padding: 0;
        width: 100%;
      }
    }

    &--form {
      @include fadeInAnimated($delay: 3s);
      width: 100%;
      height: 40rem;
      display: grid;
      grid-template-rows: repeat(7, 5.5rem);
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
      position: relative;
    }
  }
}