.about {
    @include heightWidth100($height: 100vh);
    padding: 3rem;

    display: flex;
    align-items: center;

    @media (max-width: 950px) {
        flex-direction: column;
        height: 100%;
    }

    &__header {
        margin-bottom: 2rem;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.25);
        background-image: $blue-gradient-2;
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: .2rem;
        align-self: flex-start;

        @media (max-width: 950px) {
            align-self: center;
        }
    }

    &__image {
        width: 50rem;
        height: auto;
        box-shadow: 0.3rem 0.3rem 0.6rem #000;

        position: absolute;
        bottom: 30vh;

        @media (max-width: 1150px) {
            width: 40rem;
        }
        // @media (max-width: 1150px) {
        //     width: 40rem;
        // }
        // @media (max-width: 1150px) {
        //     width: 40rem;
        // }
        // @media (max-width: 1150px) {
        //     width: 40rem;
        // }
        // @media (max-width: 1150px) {
        //     width: 40rem;
        // }
    }

    &__text {
        &--1 {
            line-height: 2.4rem;
        }

        &--2 {
            line-height: 2.4rem;
        }

        &--3 {
            line-height: 2.4rem;
        }
    }

    &__container {
        &--left {
            width: 50%;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;

            

            @media (max-width: 950px) {
                width: 100%;
                @include flexCenterCenter($flex-direction: column)
            }
        }

        &--right {
            width: 50%;
            text-align: center;
            height: 100vh;
            position: relative;

            @include flexCenterCenter($flex-direction: column);

            @media (max-width: 950px) {
                width: 100%;
            }
        }
    }

    &__arrows {
        &--container {
            @include flexCenterCenter($justify-content: space-between);
            width: 15rem;
            transform: translateY(1rem);

            position: absolute;
            bottom: 25vh;
        }

        &--text {

        }

        &--left-arrow {

        }

        &--right-arrow {

        }
    }
}