.about {
    @include heightWidth100($height: 100vh);
    padding: 3rem;

    display: flex;
    align-items: center;

    @media (max-width: 950px) {
        flex-direction: column;
        height: 100%;
    }

    &__image {
        width: 50rem;
        height: auto;
        box-shadow: 0.3rem 0.3rem 0.6rem #000;

        position: absolute;
        bottom: 30vh;

        @media (max-width: 1150px) {
            width: 40rem;
        }
    }
    
    &__arrows {

        &--left-arrow {

        }

        &--right-arrow {

        }
    }
}