.about {

    &__image {
        width: 50rem;
        height: auto;
        box-shadow: 0.3rem 0.3rem 0.6rem #000;

        @media (max-width: 1150px) {
            width: 40rem;
        }

        @media (max-width: 500px) {
            width: 35rem;
        }

        @media (max-width: 425px) {
            width: 30rem;
        }
    }
    
    &__arrows {

        &--left-arrow {

        }

        &--right-arrow {

        }
    }
}