.home {
    height: 100vh;
    width: 100%;
    padding: 2.5rem;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &__text {
        margin: 1rem 0;
        // text-shadow: 2px 4px 3px rgba(0,0,0,0.15);

        &--name {
          color: $blue;
        }

        &--1 {
            // animation-delay: 2s;
        }

        &--2 {
            -webkit-animation-delay: 2s;
            animation-delay: 2s;

            text-shadow: 2px 4px 3px rgba(0,0,0,0.15)
        }

        &--3 {
            -webkit-animation-delay: 3s;
            animation-delay: 3s;
        }

        &--4 {
            -webkit-animation-delay: 4s;
            animation-delay: 4s;
        }
    }
}

