:root {

}

/* --------------------------------------------------------------------- */
/* global resets */
*,
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines 1 rem. */
  font-size: 62.5%; /* 1rem = 16px; 10px/16px = 62.5% */
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background: $white;
  color: $red;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
 }

li {
  list-style-type: none;
}
