:root {
  --grey-dark-0: #080808;
  --grey-dark-1: #181818;
  --grey-dark-2: #282828;
  --grey-dark-3: #383838;
  --grey-dark-4: #484848;

  --grey-light-1: #585858;
  --grey-light-2: #686868;
  --grey-light-3: #787878;
  --grey-light-4: #888888;
  --grey-light-5: #989898;

  --grey-light-6: #D0D0D0;
  --grey-light-7:#E0E0E0;
  --grey-light-8:#F0F0F0;
  --grey-light-9:hsl(0, 0%, 96%);
}

/* --------------------------------------------------------------------- */
/* global resets */
*,
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines 1 rem. */
  font-size: 62.5%; /* 1rem = 16px; 10px/16px = 62.5% */
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background: $white;
  color: $black;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
 }

li {
  list-style-type: none;
}
