:root {
  --grey-0: #080808;
  --grey-1: #181818;
  --grey-2: #282828;
  --grey-3: #383838;
  --grey-4: #484848;
  --grey-5: #585858;
  --grey-6: #686868;
  --grey-7: #787878;
  --grey-8: #888888;
  --grey-9: #989898;
  --grey-10: #D0D0D0;
  --grey-11:#E0E0E0;
  --grey-12:#F0F0F0;
  --grey-13:hsl(0, 0%, 96%);

  --blue-1: #8ccbff;
  --blue-2: #318CE7;
  --blue-3: #007FFF;
  --blue-4: #0066b2;
}

//---------------------- global resets ----------------------//

*,
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines 1 rem. */
  font-size: 62.5%; /* 1rem = 16px; 10px/16px = 62.5% */
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background: $white;
  color: $black;
  font-family: 'gorditaregular', serif;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
  font-family: inherit;
  font-size: inherit;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}