//---------------------- text sizes ----------------------//

.font-size-0 {
  font-size: 4.75rem;
  font-weight: 100;
  line-height: 7rem;

  @media (max-width: 1050px) {
    font-size: 4.5rem;
  }
  @media (max-width: 550px) {
    font-size: 4rem;
  }
  @media (max-width: 350px) {
    font-size: 3.5rem;
  }
}

.font-size-1 {
  font-size: 3.5rem;
  font-weight: 100;
  line-height: 4.5rem;

  @media (max-width: 750px) {
    font-size: 3.0rem;
  }
  @media (max-width: 550px) {
    font-size: 2.7rem;
  }
  @media (max-width: 350px) {
    font-size: 2.5rem;
  }
}

.font-size-2 {
  font-size: 2.6rem;
  font-weight: 300;
  box-sizing: inherit;

  @media (max-width: 750px) {
    font-size: 2.0rem;
  }
  @media (max-width: 550px) {
    font-size: 1.7rem;
  }
  @media (max-width: 350px) {
    font-size: 1.4rem;
  }
}

.font-size-2-5 {
  font-size: 2.1rem;
  font-weight: 300;
  box-sizing: inherit;

  @media (max-width: 750px) {
    font-size: 2.0rem;
  }
  @media (max-width: 550px) {
    font-size: 1.7rem;
  }
  @media (max-width: 350px) {
    font-size: 1.4rem;
  }
}

.font-size-3 {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3.5rem;

  @media (max-width: 750px) {
    font-size: 1.6rem;
  }
  @media (max-width: 550px) {
    font-size: 1.5rem;
  }
  @media (max-width: 350px) {
    font-size: 1.2rem;
  }
}

.font-size-3-5 {
  font-size: 1.6rem;
  font-weight: 300;

  @media (max-width: 750px) {
    font-size: 1.5rem;
  }
  @media (max-width: 550px) {
    font-size: 1.4rem;
  }
}

.font-size-4 {
  font-size: 1.5rem;
  font-weight: 300;

  @media (max-width: 750px) {
    font-size: 1.3rem;
  }
  @media (max-width: 550px) {
    font-size: 1.0;
  }
}

.font-size-5 {
  font-size: 1.3rem;
  font-weight: 300;

  @media (max-width: 750px) {
    font-size: 1.1rem;
  }
  @media (max-width: 550px) {
    font-size: 0.8;
  }
}

.font-size-6 {
  font-size: 1.1rem;
  font-weight: 300;

  @media (max-width: 750px) {
    font-size: 0.9rem;
  }
  @media (max-width: 550px) {
    font-size: 0.5;
  }
}

.font-size-tk {
  font-size: 29rem;
  font-weight: 300;
}

//---------------------- screens ----------------------//

.home {
  &__text {
    margin: 0.5rem 0;

    &--toshi {
      font-family: 'gorditaregular', serif;
      letter-spacing: .2rem;
      z-index: 9999999999999;
      position: relative;
      color: $blue-3;
    }

    &--1 {
      color: $grey-3;
      margin-right: 1.5rem;
    }

    &--2 {
    }

    &--3 {
      color: $grey-3;
    }

    &--4 {

    }

    &--5 {
      color: $grey-5;
      line-height: 2.5rem;
      display: flex;
      white-space: nowrap;

      @media (max-width: 850px) {
        display: inline-block;
      }
    }

    &--im {
      margin-right: 1.0rem;
      font-family: 'gorditaregular', serif;
    }

    &--tk {
      background-image: $blue-gradient-1;
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: .2rem;
      font-family: 'Sacramento', cursive;
      transform: scale(3.0);
      height: 40rem;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.15);
      opacity: 0;
    }
  }
}

.about {
  &__header {
    margin-bottom: 2rem;
    letter-spacing: .2rem;
    align-self: flex-start;
    font-family: 'gorditaregular', serif;

    @media (max-width: 950px) {
      align-self: center;
    }
  }

  &__text {
    &--1, &--2, &--3 {
      display: block;
      line-height: 2.8rem;
      color: $grey-5;
    }

    &--1, &--2 {
      margin-bottom: 1.75rem;
    }
  }

  &__arrows {
    &--text {

    }
  }
}

.skills {
  &__header {
    margin-bottom: 2rem;
    letter-spacing: .2rem;
    align-self: flex-start;
    font-family: 'gorditaregular', serif;

    @media (max-width: 950px) {
      align-self: center;
      text-align: center;
    }
  }

  &__paragraph {
    &--1, &--2, &--3, &--4 {
      line-height: 2.4rem;
      color: $grey-5;
    }
  }

  &__blue-text {
    color: $blue-3;
  }
}

.projects {
  &__details {
    @include flexCenterCenter($flex-direction: column);
    position: absolute;
    top: 24%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    width: min-content;
    color: $white;

    height: 10rem;
    width: 10rem;
    line-height: 10rem;
    border-radius: 50%;

    &--title {
      position: absolute;
      bottom: 15%;
      text-align: center;
      opacity: 0;
      transition: opacity .2s, visibility .2s;
      width: 100%;
      color: $black;
      z-index: 99999;
      overflow: visible;
      height: min-content;
    }
  }
}

.modal {
  &__skills {
    &--text {
      margin-left: 0.5rem;
      color: $grey-4;
      white-space: nowrap;

      @media (max-width: 700px) {
        margin-left: 0.45rem;
      }

      @media (max-width: 500px) {
        margin-left: 0.4rem;
      }
    }
  }

  &__header {
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
    font-family: 'gorditaregular', serif;

    @media (max-width: 700px) {
      font-size: 2.8rem;
    }

    @media (max-width: 560px) {
      font-size: 2.5rem;
    }
  }

  &__subheader {
    &--1, &--2, &--3 {
      align-self: flex-start;
      line-height: 3rem;
      font-family: 'Sacramento', cursive;
    }
  }

  &__paragraph {
    &--1, &--2, &--3 {
      align-self: flex-start;
      line-height: 2.2rem;
      color: $grey-5;

      @media (max-width: 950px) {
        line-height: 1.8rem;
        margin-bottom: 1rem;
      }
    }

    &--1, &--2 {
      margin-bottom: 2.0rem;
    }

    &--1 {
      margin-left: 2rem;
    }
  }
}

.contact {
  &__header {
    letter-spacing: .2rem;
    margin-bottom: 2rem;
    align-self: flex-start;
    font-family: 'gorditaregular', serif;

    @media (max-width: 950px) {
      align-self: center;
    }
  }

  &__paragraph {
    &--1, &--2 {
      line-height: 2.6rem;
      color: $grey-5;
      align-self: flex-start;
    }

    &--1 {
      margin-bottom: 1.5rem;
    }

    &--2 {
      margin-bottom: 2.75rem;
    }
  }
}

//---------------------- miscellaneous ----------------------//

.Typewriter {
  margin-left: 0.50rem;
}

.bar-graph {
  &__header {
    align-self: flex-start;
    margin-bottom: 2rem;

    @media (max-width: 950px) {
      transform: translate(0, 0);
      margin-bottom: 2rem;
      align-self: center;
    }
  }
}