//---------------------- screens ----------------------//

.home {
  &__text {
    margin: 0.5rem 0;

    &--toshi {
      @include fadeInAnimated--1;
      @include font-size-1;
      font-family: 'gorditaregular', serif;
      letter-spacing: .2rem;
      z-index: var(home__text--toshi);
      position: relative;
      color: $blue-3;
    }

    &--1 {
      color: $grey-3;
      margin-right: 1.5rem;
    }

    &--2 {
    }

    &--3 {
      color: $grey-3;
    }

    &--4 {

    }

    &--5 {
      @include fadeInAnimated--1-5;
      @include font-size-2-5;
      color: $grey-5;
      line-height: 2.5rem;
      display: flex;
      white-space: nowrap;

      @media (max-width: 850px) {
        display: inline-block;
      }
    }

    &--im {
      @include fadeInAnimated--1;
      @include font-size-1;
      margin-right: 1.0rem;
      font-family: 'gorditaregular', serif;
    }

    &--tk {
      background-image: $blue-gradient-1;
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: .2rem;
      font-family: 'Sacramento', cursive;
      transform: scale(3.0);
      height: 40rem;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.15);
      opacity: 0;
    }
  }
}

.about {
  &__header {
    @include fadeInAnimated--0;
    margin-bottom: 2rem;
    letter-spacing: .2rem;
    align-self: flex-start;
    font-family: 'gorditaregular', serif;

    @media (max-width: 950px) {
      align-self: center;
    }

    h1 {
      @include font-size-1;
    }
  }

  &__text {
    &--1, &--2, &--3 {
      @include font-size-3;
      display: block;
      line-height: 2.6rem;
      color: $grey-5;
    }

    &--1, &--2 {
      margin-bottom: 1.75rem;
    }

    &--1 {
      @include fadeInAnimated--1;
    }

    &--2 {
      @include fadeInAnimated--2;
    }

    &--3 {
      @include fadeInAnimated--3;
    }
  }

  &__arrows {
    &--text {

    }
  }
}

.skills {
  &__header {
    @include fadeInAnimated--0;
    margin-bottom: 2rem;
    letter-spacing: .2rem;
    align-self: flex-start;
    font-family: 'gorditaregular', serif;

    @media (max-width: 950px) {
      align-self: center;
      text-align: center;
    }

    h1 {
      @include font-size-1;
    }
  }

  &__paragraph {
    &--1, &--2, &--3, &--4 {
      @include font-size-3;
      line-height: 2.4rem;
      color: $grey-5;
    }

    &--1 {
      @include fadeInAnimated--1;
    }

    &--2 {
      @include fadeInAnimated--2;
    }

    &--3 {
      @include fadeInAnimated--3;
    }

    &--4 {
      @include fadeInAnimated--4;
    }
  }

  &__blue-text {
    color: $blue-3;
  }
}

.projects {
  &__details {
    @include flexCenterCenter($flex-direction: column);
    position: absolute;
    top: 24%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    width: min-content;
    color: $white;

    height: 10rem;
    width: 10rem;
    line-height: 10rem;
    border-radius: 50%;

    &--title {
      position: absolute;
      bottom: 15%;
      text-align: center;
      opacity: 0;
      transition: opacity .2s, visibility .2s;
      width: 100%;
      color: $black;
      z-index: z(projects__details--title);
      overflow: visible;
      height: min-content;
    }
  }
}

.modal {
  &__skills {
    &--text {
      @include font-size-3;
      margin-left: 0.5rem;
      color: $grey-4;
      white-space: nowrap;

      @media (max-width: 700px) {
        margin-left: 0.45rem;
      }

      @media (max-width: 500px) {
        margin-left: 0.4rem;
      }
    }
  }

  &__header {
    @include font-size-2;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'gorditaregular', serif;

    @media (max-width: 950px) {
      margin-bottom: 0;
    }

    @media (max-width: 700px) {
      font-size: 2.8rem;
    }

    @media (max-width: 560px) {
      font-size: 2.5rem;
    }
  }

  &__subheader {
    &--1, &--2 {
      @include font-size-3;
      align-self: flex-start;
      line-height: 3rem;
      font-family: 'Sacramento', cursive;
    }
  }

  &__paragraph {
    &--1, &--2 {
      @include font-size-5;
      align-self: flex-start;
      line-height: 2.2rem;
      color: $grey-5;

      @media (max-width: 950px) {
        line-height: 1.8rem;
        margin-bottom: 1rem;
      }
    }

    &--1 {
      margin-left: 2rem;
      margin-bottom: 1.0rem;

      @media (max-width: 550px) {
        margin-left: 1rem;
      }
    }
  }

  &__feature {
    &--label {
      margin-left: 2.0rem;

      @media (max-width: 550px) {
        margin-left: 1rem;
      }
    }
  }
}

.contact {
  &__header {
    @include fadeInAnimated--0;
    letter-spacing: .2rem;
    margin-bottom: 2rem;
    align-self: flex-start;
    font-family: 'gorditaregular', serif;

    @media (max-width: 950px) {
      align-self: center;
    }

    h1 {
      @include font-size-1;
    }
  }

  &__paragraph {
    &--1, &--2 {
      @include font-size-3;
      line-height: 2.6rem;
      color: $grey-5;
      align-self: flex-start;
    }

    &--1 {
      @include fadeInAnimated--1;
      margin-bottom: 1.75rem;
    }

    &--2 {
      @include fadeInAnimated--2;
      margin-bottom: 2.5rem;
    }
  }
}

//---------------------- miscellaneous ----------------------//

.Typewriter {
  margin-left: 0.50rem;
}

.bar-graph {
  &__header {
    @include fadeInAnimated--4;
    align-self: flex-start;
    margin-bottom: 2rem;

    @media (max-width: 950px) {
      transform: translate(0, 0);
      margin-bottom: 2rem;
      align-self: center;
    }

    h1 {
      @include font-size-1;
    }
  }
}