.text-size-0 {
  font-size: 6.5rem;
  font-weight: 400;

  @media (max-width: 750px) {
    font-size: 5.5rem;
  }
  
  @media (max-width: 550px) {
    font-size: 5rem;
  }

  @media (max-width: 350px) {
    font-size: 4.6rem;
  }
}

.text-size-1 {
  font-size: 3rem;
  font-weight: 300;

  @media (max-width: 750px) {
    font-size: 2.5rem;
  }
  
  @media (max-width: 550px) {
    font-size: 2.0rem;
  }

  @media (max-width: 350px) {
    font-size: 1.7rem;
  }
}

.text-size-2 {
  font-size: 2.6rem;
  font-weight: 300;
  box-sizing: inherit;

  @media (max-width: 750px) {
    font-size: 2.4rem;
  }
  
  @media (max-width: 550px) {
    font-size: 1.9rem;
  }

  @media (max-width: 350px) {
    font-size: 1.6rem;
  }
}

.text-size-3 {
  font-size: 2rem;
  font-weight: 300;

  @media (max-width: 750px) {
    font-size: 1.8rem;
  }
  
  @media (max-width: 550px) {
    font-size: 1.3rem;
  }

  @media (max-width: 350px) {
    font-size: 1.1rem;
  }
}

.text-size-4 {
  font-size: 1.75rem;
  font-weight: 400;

  @media (max-width: 750px) {
    font-size: 1.5rem;
  }
  
  @media (max-width: 550px) {
    font-size: 1.0;
  }
}

.text-size-5 {
  font-size: 1.625rem;
  font-weight: 300;

  @media (max-width: 750px) {
    font-size: 1.3rem;
  }
  
  @media (max-width: 550px) {
    font-size: 0.8;
  }
}

.text-size-6 {
  font-size: 1.25rem;
  font-weight: 300;

  @media (max-width: 750px) {
    font-size: 1.1rem;
  }
  
  @media (max-width: 550px) {
    font-size: 0.6;
  }
}

.align-items {
  &__flex-end {
    align-items: flex-end;
  }
}