//---------------------- fade ----------------------//

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}

//---------------------- bar-graph ----------------------//

@keyframes show-bar-one {
  0% {
    width: 0;
  }
  100% {
    width: 95.6%;
  }
}

@keyframes show-bar-two {
  0% {
    width: 0;
  }
  100% {
    width: 87.3%;
  }
}

@keyframes show-bar-three {
  0% {
    width: 0;
  }
  100% {
    width: 85.2%;
  }
}

@keyframes show-bar-four {
  0% {
    width: 0;
  }
  100% {
    width: 83.3%;
  }
}

@keyframes show-bar-five {
  0% {
    width: 0;
  }
  100% {
    width: 85.6%;
  }
}

@keyframes show-bar-six {
  0% {
    width: 0;
  }
  100% {
    width: 81.1%;
  }
}

@keyframes show-bar-seven {
  0% {
    width: 0;
  }
  100% {
    width: 85.3%;
  }
}

@keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//---------------------- loading ----------------------//

@keyframes dots-loader {
  0% {
    box-shadow: $blue-1 -14px -14px 0 7px, $blue-2 14px -14px 0 7px, $blue-3 14px 14px 0 7px, $blue-4 -14px 14px 0 7px;
  }
  8.33% {
    box-shadow: $blue-1 14px -14px 0 7px, $blue-2 14px -14px 0 7px, $blue-3 14px 14px 0 7px, $blue-4 -14px 14px 0 7px;
  }
  16.67% {
    box-shadow: $blue-1 14px 14px 0 7px, $blue-2 14px 14px 0 7px, $blue-3 14px 14px 0 7px, $blue-4 -14px 14px 0 7px;
  }
  25% {
    box-shadow: $blue-1 -14px 14px 0 7px, $blue-2 -14px 14px 0 7px, $blue-3 -14px 14px 0 7px, $blue-4 -14px 14px 0 7px;
  }
  33.33% {
    box-shadow: $blue-1 -14px -14px 0 7px, $blue-2 -14px 14px 0 7px, $blue-3 -14px -14px 0 7px, $blue-4 -14px -14px 0 7px;
  }
  41.67% {
    box-shadow: $blue-1 14px -14px 0 7px, $blue-2 -14px 14px 0 7px, $blue-3 -14px -14px 0 7px, $blue-4 14px -14px 0 7px;
  }
  50% {
    box-shadow: $blue-1 14px 14px 0 7px, $blue-2 -14px 14px 0 7px, $blue-3 -14px -14px 0 7px, $blue-4 14px -14px 0 7px;
  }
  58.33% {
    box-shadow: $blue-1 -14px 14px 0 7px, $blue-2 -14px 14px 0 7px, $blue-3 -14px -14px 0 7px, $blue-4 14px -14px 0 7px;
  }
  66.67% {
    box-shadow: $blue-1 -14px -14px 0 7px, $blue-2 -14px -14px 0 7px, $blue-3 -14px -14px 0 7px, $blue-4 14px -14px 0 7px;
  }
  75% {
    box-shadow: $blue-1 14px -14px 0 7px, $blue-2 14px -14px 0 7px, $blue-3 14px -14px 0 7px, $blue-4 14px -14px 0 7px;
  }
  83.33% {
    box-shadow: $blue-1 14px 14px 0 7px, $blue-2 14px -14px 0 7px, $blue-3 14px 14px 0 7px, $blue-4 14px 14px 0 7px;
  }
  91.67% {
    box-shadow: $blue-1 -14px 14px 0 7px, $blue-2 14px -14px 0 7px, $blue-3 14px 14px 0 7px, $blue-4 -14px 14px 0 7px;
  }
  100% {
    box-shadow: $blue-1 -14px -14px 0 7px, $blue-2 14px -14px 0 7px, $blue-3 14px 14px 0 7px, $blue-4 -14px 14px 0 7px;
  }
}