//---------------------- dimensions ----------------------//

@mixin heightWidth100($height: 100%, $width: 100%) {
	height: $height;
	width: $width;
}

//---------------------- flexbox ----------------------//

@mixin flexCenterCenter($align-items: center, $justify-content: center, $flex-direction: row) {
	display: flex;
	flex-direction: $flex-direction;
	align-items: $align-items;
	justify-content: $justify-content;
}

//---------------------- font-size ----------------------//

@mixin font-size-0 {
  font-size: 4.75rem;
  font-weight: 100;
  line-height: 7rem;

  @media (max-width: 1050px) {
    font-size: 4.5rem;
  }
  @media (max-width: 550px) {
    font-size: 4rem;
  }
  @media (max-width: 350px) {
    font-size: 3.5rem;
  }
}

@mixin font-size-1 {
  font-size: 3.5rem;
  font-weight: 100;
  line-height: 4.5rem;

  @media (max-width: 750px) {
    font-size: 3.0rem;
  }
  @media (max-width: 550px) {
    font-size: 2.7rem;
  }
  @media (max-width: 350px) {
    font-size: 2.5rem;
  }
}

@mixin font-size-1-5 {
  font-size: 3.0rem;
  font-weight: 100;
  line-height: 4.5rem;

  @media (max-width: 750px) {
    font-size: 2.8rem;
  }
  @media (max-width: 550px) {
    font-size: 2.5rem;
  }
  @media (max-width: 350px) {
    font-size: 2.3rem;
  }
}

@mixin font-size-2 {
  font-size: 2.6rem;
  font-weight: 300;
  box-sizing: inherit;

  @media (max-width: 750px) {
    font-size: 2.0rem;
  }
  @media (max-width: 550px) {
    font-size: 1.7rem;
  }
  @media (max-width: 350px) {
    font-size: 1.4rem;
  }
}

@mixin font-size-2-5 {
  font-size: 2.1rem;
  font-weight: 300;
  box-sizing: inherit;

  @media (max-width: 750px) {
    font-size: 2.0rem;
  }
  @media (max-width: 550px) {
    font-size: 1.7rem;
  }
  @media (max-width: 350px) {
    font-size: 1.4rem;
  }
}

@mixin font-size-3 {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.6rem;

  @media (max-width: 750px) {
    font-size: 1.6rem;
  }
  @media (max-width: 550px) {
    font-size: 1.5rem;
  }
  @media (max-width: 350px) {
    font-size: 1.2rem;
  }
}

@mixin font-size-3-5 {
  font-size: 1.6rem;
  font-weight: 300;

  @media (max-width: 750px) {
    font-size: 1.5rem;
  }
  @media (max-width: 550px) {
    font-size: 1.4rem;
  }
}

@mixin font-size-4 {
  font-size: 1.5rem;
  font-weight: 300;

  @media (max-width: 750px) {
    font-size: 1.3rem;
  }
  @media (max-width: 550px) {
    font-size: 1.0;
  }
}

@mixin font-size-5 {
  font-size: 1.3rem;
  font-weight: 300;

  @media (max-width: 750px) {
    font-size: 1.1rem;
  }
  @media (max-width: 550px) {
    font-size: 0.8;
  }
}

@mixin font-size-6 {
  font-size: 1.1rem;
  font-weight: 300;

  @media (max-width: 750px) {
    font-size: 0.9rem;
  }
  @media (max-width: 550px) {
    font-size: 0.5;
  }
}

//---------------------- animations ----------------------//

@mixin fadeInAnimated--0 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 0.001s;
}

@mixin fadeInAnimated--1 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 1s;
}

@mixin fadeInAnimated--1-5 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 1.501s;
}

@mixin fadeInAnimated--2 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 2s;
}

@mixin fadeInAnimated--2-2 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 2.2s;
}

@mixin fadeInAnimated--2-4 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 2.4s;
}

@mixin fadeInAnimated--2-6 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 2.6s;
}

@mixin fadeInAnimated--2-8 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 2.8s;
}

@mixin fadeInAnimated--3 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 3s;
}

@mixin fadeInAnimated--3-2 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 3.2s;
}

@mixin fadeInAnimated--3-4 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 3.4s;
}

@mixin fadeInAnimated--3-6 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 3.6s;
}

@mixin fadeInAnimated--3-8 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 3.8s;
}

@mixin fadeInAnimated--4 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 4s;
}

@mixin fadeInAnimated--4-2 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 4.2s;
}

@mixin fadeInAnimated--4-4  {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 4.4s;
}

@mixin fadeInAnimated--4-6 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 4.6s;
}

@mixin fadeInAnimated--4-8 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 4.8s;
}

@mixin fadeInAnimated--5 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 5s;
}

@mixin fadeInAnimated--5-2 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 5.2s;
}

@mixin fadeInAnimated--5-5 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 5.4s;
}

@mixin fadeInAnimated--5-6 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 5.6s;
}

@mixin fadeInAnimated--5-8 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 5.8s;
}

@mixin fadeInAnimated--6 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 6s;
}

@mixin fadeInAnimated--7 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 7s;
}

@mixin fadeInAnimated--8 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 8s;
}

@mixin fadeInAnimated--9 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 9s;
}

@mixin fadeInAnimated--10 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 10s;
}

@mixin fadeInAnimated--11 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 11s;
}