@mixin heightWidth100($height: 100%, $width: 100%) {
	height: $height;
	width: $width;
}

@mixin flexCenterCenter($align-items: center, $justify-content: center, $flex-direction: row) {
	display: flex;
	flex-direction: $flex-direction;
	align-items: $align-items;
	justify-content: $justify-content;
}