%btn {
  font-family: inherit;
  cursor: pointer;
}

//---------------------- projects ----------------------//

.projects {
  &__btn {
    &--details {
      @extend %btn;
      @include font-size-4;
      height: 11.5rem;
      width: 11.5rem;
      line-height: 2.5rem;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      text-align: center;
      border-radius: 50%;
      color: $black;
      border: 1px solid $black;
      background: transparent;
      visibility: hidden;
      opacity: 0;
      transition: opacity .2s, visibility .2s;
      z-index: z(projects__btn--details);
      outline: none;
      transition: 0.15s;

      @media (max-width: 950px) {
        height: 13.5rem;
        width: 13.5rem;
        line-height: 2.5rem;
      }

      @media (max-width: 650px) {
        height: 8.5rem;
        width: 8.5rem;
        line-height: 1.5rem;
      }

      &:hover {
        border: 1px solid $blue-1;
        color: $blue-2;
        transition: 0.15s;
      }
    }
  }
}

//---------------------- modal ----------------------//

.modal {
  &__btn {
    &--close {
      @extend %btn;
      @include flexCenterCenter();
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      height: 4.25rem;
      width: 4.25rem;
      line-height: 3.5rem;
      font-size: 2.75rem;
      border-radius: 50%;
      border: none;
      transition: 0.15s;
      cursor: pointer;
      background: none;

      // @media (max-width: 550px) {
        height: 3.0rem;
        width: 3.0rem;
        line-height: 3.25rem;
        font-size: 2.0rem;
        top: 1.5rem;
        right: 1.5rem;
      // }

      &:hover {
        background-color: $blue-4;
        color: $grey-11;
        transition: 0.15s;
      }
    }

    &--github, &--url {
      @extend %btn;
      @include font-size-3;
      width: 16rem;
      height: 3.5rem;
      border: 1px solid transparent;
      border-radius:  2rem;
      color: $grey-12;

      // @media (max-width: 600px) {
      //   width: 15rem;
      // }

      &:focus {
        outline: none;
      }

      &:hover {
        color: $grey-11;
        border: 1px solid $black;
        background-color: $grey-5;
        transition: 0.15s;
      }
    }

    &--github {
      background-color: $blue-3;
    }

    &--url {
      background-color: $blue-4;
    }
  }
}

//---------------------- contact ----------------------//

.contact {
  &__btn {
    &--submit {
      @extend %btn;
      @include font-size-3-5;
      @include fadeInAnimated($delay: 3s);
      @include flexCenterCenter();
      align-self: flex-end;
      margin-right: 0rem;
      height: 3.5rem;
      width: 7rem;
      outline: none;
      border-radius: 10%;
      color: $grey-7;
      border: 1px solid $grey-7;
      background-color: $grey-12;
      transition: all 0.3s;
      position: absolute;
      right: 0;
      margin-top: 5rem;
      transform: translateY(1.5rem);
      
      @media (max-width: 950px) {
        margin-right: 0;
      }
    }
  }
}