.btn {
  
  &__project-details {
    font-family: inherit;
    height: 11.75rem;
    width: 11.75rem;
    line-height: 2.5rem;
    border-radius: 50%;
    color: $black;
    cursor: pointer;
    
    border: 1px solid $black;
    transition: 0.5s;
    background: transparent;

    position: absolute;
    top: 20%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    z-index: 9999999;
    outline: none;
    transition: 0.15s;

    &:hover {
      border: 1px solid $blue-1;
      color: $blue-1;
      transition: 0.15s;
    }

    @media (max-width: 950px) {
      top: 39%;
    }
  }

  &__contact-form {
    align-self: flex-end;
    margin-right: 0rem;
    
    height: 3.5rem;
    width: 7rem;
    outline: none;
    
    border-radius: 10%;
    color: $grey-4;
    border: 1px solid $grey-7;
    background-color: $grey-11;
    box-shadow: 0.05rem 0.05rem .1rem $black;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: inherit ;
    transition: all 0.3s;
    
    @media (max-width: 950px) {
      margin-right: 0;
    }
  }

  &__modal {

    &--close {
      position: absolute;
      top: 7%;
      right: 7%;
      height: 6rem;
      width: 6rem;
      line-height: 6rem;
      font-size: 3rem;
      border-radius: 50%;
      border: 3px solid $black;
      background-color: $white;
      outline: none;
      transition: 0.15s;
      cursor: pointer;
      @include flexCenterCenter();

      @media (max-width: 950px) {
        top: 0.5%;
      }
      @media (max-width: 500px) {
        top: 0.5%;
      }

      &:hover {
        background-color: $grey-5;
        color: $grey-11;

        transition: 0.15s;
      }
    }
  }
  &__about-screen {
    &--left, &--right {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    
    &--left {

    }

    &--right {

    }
  }
}


%btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: $black;
  background-image: linear-gradient(to right, rgba(31, 162, 255, 0.6) 0%, rgba(18, 215, 250, 0.6)  51%, rgba(31, 162, 255, 0.6)  100%);
  text-decoration: none;
  opacity: 0.9;
}

.modal {
  &__back {
        &--btn {
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 3rem;
            border-radius: 0 0 3rem 3rem;

            &:focus {
                outline: none;
            }

            &:hover {
                background-color: $grey-5;
                border-color: $grey-3;
            }

        }
    }

    &__github {

        &--btn {
            width: 100%;
            height: 3rem;
            border: 1px solid transparent;
            font-family: 'Josefin Slab', serif;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &:hover {
                color: $grey-11;
                border: 1px solid $black;
                background-color: $grey-5;
                transition: 0.15s;
            }
        }
    }

    &__url {

        &--btn {
            width: 100%;
            height: 3rem;
            border-radius: 0 0 3rem 3rem;
            border: 1px solid transparent;
            font-family: 'Josefin Slab', serif;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &:hover {
                color: $grey-11;
                border: 1px solid $black;
                background-color: $grey-5;
                transition: 0.15s;
            }
        }
    }
}