.map {
  position: relative;
  z-index: 1000;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &__marker {
    &--lafayette, &--davis {
      color: $black;
      background-color: $blue-1;
      border: 2px solid $blue-3;
      padding: 0.5rem;
      border-radius: 1rem;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        transform: translateY(0.2rem);
      }
    }
  }
}