.map {
  @include heightWidth100();
  position: relative;
  z-index: z(map);
  overflow: hidden;

  &__marker {
    &--lafayette, &--davis {
      @include font-size-3;
      font-family: 'gorditalight', serif;
      color: $black;
      background-color: $blue-1;
      border: 2px solid $blue-3;
      padding: 0.25rem 1rem;
      border-radius: 1rem;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        transform: translateY(0.2rem);
      }
    }
  }

  &__overlay {
    @include heightWidth100();
    background-color: transparent;
    position: absolute;
    bottom: 0;
    z-index: z(map__overlay);

    @media (max-width: 950px) {
      display: block;
    }
  }
}