.modal {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.685);
    z-index: 9999999999;
    transition: all 2s;

    &__video {
        width: 45rem;
        height: 0;
        overflow: hidden;
        @include flexCenterCenter();
    }

    &__skills {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin: 2rem 0;


        &--icon {
            
        }

    }

    &__github {
        width: 100%;
        position: absolute;
        bottom: 3rem;
        border-radius: 0;
    }

    &__url {
        width: 100%;
        position: absolute;
        bottom: 0rem;
        border-radius: 0 0 3rem 3rem;
    }
}

// .modal-transition-enter {
//     opacity: 0;
// }

// .modal-transition-enter-active {
//     opacity: 0.5;
//     transition: opacity 300ms;
// }

// .modal-transition-enter-done {
//     opacity: 1;
// }

// .modal-transition-exit {
//     opacity: 1;
// }

// .modal-transition-exit-active {
//     opacity: 0.5;
//     transition: opacity 300ms;
// }

// .modal-transition-exit-done {
//     opacity: 0;
// }