.modal {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.685);
    z-index: 9999999999;

    

    &__video {
        width: 45rem;
        // min-height: 20rem;
        height: 0;
        overflow: hidden;

        @include flexCenterCenter();
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__skills {
        display: flex;
        align-items: center;
        justify-content: space-around;

        width: 100%;
        margin: 2rem 0;

        &--container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--text {
            margin-left: 0.5rem;
        }

        // &--icon {
        //     height: 1.6rem;
        //     width: auto;
        // }

    }

    &__github {
        width: 100%;
        position: absolute;
        bottom: 3rem;
        border-radius: 0;

        &--btn {
            width: 100%;
            height: 3rem;
            border: 1px solid transparent;
            font-family: 'Josefin Slab', serif;

            &:focus {
                outline: none;
            }

            &:hover {
                color: $grey-11;
                border: 1px solid $black;
                background-color: $grey-5;
                transition: 0.15s;
            }
        }
    }

    &__url {
        width: 100%;
        position: absolute;
        bottom: 0rem;
        border-radius: 0 0 3rem 3rem;

        &--btn {
            width: 100%;
            height: 3rem;
            border-radius: 0 0 3rem 3rem;
            border: 1px solid transparent;
            font-family: 'Josefin Slab', serif;

            &:focus {
                outline: none;
            }

            &:hover {
                color: $grey-11;
                border: 1px solid $black;
                background-color: $grey-5;
                transition: 0.15s;
            }
        }
    }

    &__paragraph {

        &--container {
            overflow-y: scroll;
            padding: 0.5rem 0;
        }

        &--1 {
            align-self: flex-start;
            line-height: 1.8rem;
            margin-bottom: 1rem;
        }

        &--2 {
            align-self: flex-start;
            line-height: 1.8rem;
            margin-bottom: 1rem;
        }

        &--3 {
            align-self: flex-start;
            line-height: 1.8rem;
        }
    }

    &__subheader {

        &--1 {
            align-self: flex-start;
            line-height: 3rem;
            font-family: 'Sacramento', cursive;
        }

        &--2 {
            align-self: flex-start;
            line-height: 3rem;
            font-family: 'Sacramento', cursive;
        }

        &--3 {
            align-self: flex-start;
            line-height: 3rem;
            font-family: 'Sacramento', cursive;
        }
    }

    &__back {
        &--btn {
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 3rem;
            border-radius: 0 0 3rem 3rem;

            &:focus {
                outline: none;
            }

            &:hover {
                background-color: $grey-5;
                border-color: $grey-3;
            }

        }
    }
}