.nav {
  @include flexCenterCenter($flex-direction: row-reverse, $justify-content: space-between);
  padding: 0 2rem 0 0;
  height: 100%;
  width: auto;
  width: 100vw;

  @media (max-width: 550px) {
    padding: 0;
  }

  &__primary {
    @include heightWidth100();
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: 450px) {
      margin-right: 2vw;
    }

    &--item {
      color: $grey-6;
      margin: 0 1.75rem;
      height: 100%;
      width: 6.5rem;
      border-left: none;
      border-top: 4px solid $white;

      @media (max-width: 500px) {
        margin: 0 1rem;
      }
      @media (max-width: 410px) {
        margin: 0 0.5rem;
      }
      @media (max-width: 360px) {
        margin: 0 0.3rem;
        width: 6rem;
      }
    }
  }

  &__secondary {
    text-align: center;
    width: min-content;
    @include flexCenterCenter($justify-content: space-between);
    margin: 0 0 0 2rem;


    &--item {
      border-left: 4px solid $white;
      width: 100%;
      margin: 0.5rem 0.5rem;

      &:hover .social-media-icon {
        color: $black;
      }

      @media (max-width: 950px) {
        margin: 0 1.5rem 0 0;
        border-top: 4px solid $white;
        border-left: none;
        padding: 2.25rem 0 1.9rem 0;
      }
    }

    &__icon {
      opacity: 1;
      transition: all .5s;
      height: 100%;
      fill: inherit;
    
      &:hover {
        fill: $black;
        opacity: 1.0;
      }
    }
  }

  &__link {
    transition: all 0.2s;
    fill: $grey-6;
    position: relative;
  }
  
  &__hovering {
    transition: all 0.2s;
    height: 100%;
    width: 100%;

    &--container {
    }

    &--text {
      @include flexCenterCenter();
      transition: all 0.5s;
      width: 100%;
      height: auto;
      line-height: 7rem;
    }

    &--children {
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
