.nav {
  @include flexCenterCenter($flex-direction: column, $justify-content: space-around);
  margin: 3rem 0;
  width: 100%;

  &__list {
    @include heightWidth100();
    text-align: center;

    display: flex;
    flex-direction: column;

    &--item {
      margin: 2rem 0;
      padding: 0.5rem 0;
      border-left: 4px solid $white;
      height: 4.25rem;
      transition: all 0.2s;
      fill: $grey-6;
      color: $grey-6;
    }
  }

  &__social-media-list {
    text-align: center;

    &--item {
      margin-top: 0.75rem;

      &:hover .social-media-icon {
        color: $black;
      }
    }

  }

  &__link {
    transition: all 0.2s;
  }
  
  &__hovering {
    transition: all 0.2s;
    height: 3.4rem;

    &--container {
      // position: relative;
      // transition: all 0.5s;

      // &:hover .text {
      //   display: block;
      // }
    }

    &--text {
      @include flexCenterCenter();
      transition: all 0.5s;
      height: 100%;
      opacity: 0;
      // line-height: 5.8rem;
      height: 100%;
      line-height: 3.25rem;
      // border-left: 2px solid $blue-1;

      &:hover {
        opacity: 1;
      }
    }

    &--children {
      // position: absolute;
      // // top: 50%;
      // left: 100%;
      // transition: all 0.5s;
    }
  }

  &__icon {
    opacity: 1;
    transition: all .5s;
    // animation-delay: 2s;
    height: 100%;
    // color: $grey-6;
  
    &:hover {
      fill: 1px solid var(--grey-10);
      opacity: 1.0;
    }
  }
}
